<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
</head>
<body>
	<nav>
		<div>
			<h1>Blog HNA</h1>
			<p>Welcome to my test blog</p>
		</div>
		<ul>
			<li><a href="/">Blogs</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs/create">New blog</a></li>
		</ul>
	</nav>
	<div>
		<h2>Oops 404 not found</h2>
	</div>
</body>
</html>