<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs')%>
	<div>
		<h2>About us</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ut mollitia nihil corporis hic perspiciatis numquam itaque consectetur non ratione! Nisi, officiis reiciendis quo placeat laborum sint aperiam vel illo.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsum, saepe vero quisquam facere nulla illum culpa voluptas qui ab architecto repellendus autem! Facere ipsam porro fuga error sint harum? Culpa doloribus necessitatibus debitis blanditiis illum placeat earum dicta illo.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, nisi.</p>
	</div>

	<%- include('./partials/footer.ejs') %>
</body>
</html>
